*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEC;
}

nav{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

nav #logo{
    width: 100px;
    margin-left: 150px;
}

.shoppingBasket{
    position: absolute;
    right: 30px;
}

nav .shoppingBasket span{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    top: -15px;
    left: 20px;
}

.container{
    max-width: 80vw;
}

.container h1{
    position: relative;
    top: 2%;
    left: 20%;
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 150px;
    column-gap: 100px;
}

.products .item{
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgb(67, 59, 59);
    letter-spacing: 1px;
    cursor: pointer;
}

.products .item img{
    margin-top: -20px;
    height: 130px;
    filter: drop-shadow(10px,10px 5px lightgreen);
}

.products .item img:hover{
    scale: 1.2;
    transition: 0.5s;
}

.products .item .name{
    margin-top: 15px;
    font-weight: 600;
}

.products .item .price{
    margin: 10px;
}

.products .item button{
    background-color: aqua;
    border-radius: 10px;
    color: rgb(71, 32, 32);
    width: 100px;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

.card{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    background: yellowgreen;
    height: 100vh;
    transition: 0.5s;
}

.card h3{
    font-weight: 100;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.card .checkout div{
    width: 200%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: beige;
}

.card .checkout .close{
    background-color: black;
    color: white;
}